<ion-view view-title="Друзі">
  <ion-content>
	<div class="inner-block" class="has-header">
	    <div  ng-repeat="friend in $ctrl.friendsList" ui-sref="app.friend({id : friend._id})" class="friend-item">
	   	<div class="friend-avatar">
		  <img ng-src="{{$ctrl.baseUrl}}/{{friend.img}}">
	   	</div>
		  <div class="friend-info">
		    <h3>
		      {{friend.name || friend.email}}
		    </h3>
		    <p class="friend-phone">{{friend.phone}}</p>
		  </div>
		</div>
	</div>
  </ion-content>
</ion-view>