<ion-view >
  <ion-content  class="has-header">
    <div class="main-page">
      <div class="serch-block" >
        <input type="text" placeholder="Пошук по спеціалістам и користувачам" ng-model="$ctrl.searchStr" ng-change="$ctrl.search()">
      </div>
      

      <div class="searchResults" ng-show="$ctrl.searchResut.contacts.length > 0 || $ctrl.searchResut.users.length > 0">
        <ul class="friendsList">
          <li class="friendItem" ng-repeat="friend in $ctrl.searchResut.users" ui-sref="app.friend(friend._id)">
            <div class="add-to-friend">
              <i class="icon ion-plus-round" ng-click="addNewRequest(friend._id)"></i>
            </div>
            <div class="friend-avatar">
            <img ng-src="{{$ctrl.baseUrl}}/{{friend.img}}">
            </div>
            <div class="friend-info">
              <h3>{{friend.name || friend.email}}</h3>
              <p class="friendPhone">{{friend.phone}}</p>
          </div>
          </li>
        </ul>
        <p ng-show="$ctrl.searchResut.contacts.length > 0">Contacts</p>
        <ul class="friendsList">
          <li class="friendItem" ng-repeat="friend in $ctrl.searchResut.contacts" ui-sref="app.contact(friend._id)">
            <div class="add-to-friend">
              <i class="icon ion-plus-round" ng-click="addNewRequest(friend._id)"></i>
            </div>
            <div class="friend-avatar">
            <img ng-src="{{$ctrl.baseUrl}}/{{friend.img}}">
            </div>
            <div class="friend-info">
              <h3>{{friend.name || friend.email}}</h3>
              <p class="friendPhone">{{friend.phone}}</p>
          </div>
          </li>
        </ul>
      </div>

      <ul class="friendsList" ng-show="$ctrl.listRequest.length > 0">
        <li class="friendItem" ng-repeat="friend in $ctrl.listRequest">
          <div class="add-to-friend">
            <i class="icon ion-plus-round" ng-click="$ctrl.accept(friend._id)"></i>
          </div>
          <div class="friend-avatar">
            <img ng-src="{{baseUrl}}/{{friend.useridinvite.img}}">
          </div>
          <div class="friend-info">
            <h3>{{friend.useridinvite.name || friend.useridinvite.email}}</h3>
          </div>
        </li>
      </ul>


      <div class="no-news" ng-hide="$ctrl.listRequest.length > 0 || $ctrl.searchResut.users.length > 0">
        У вас немає нових сповіщень
      </div>
    </div>
  </ion-content>
</ion-view>
