.list-categories {
	padding: 10px 10px 0 10px;
	.category{
		position: relative;
		margin-bottom: 10px;
		.category-img-block{
			overflow: hidden;
			margin: 0;
			padding: 0;
			img {
				max-width: 100%;
				margin: 0;
				padding: 0;
				display: block;
			}
		}
		.category-info{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: rgba(0,0,0,0.5);
			h3 {
				color:#fff;
				font-size: 25px;
				font-weight: normal;
				text-transform: uppercase;
				margin-top: 80px;
				text-align: center;
			}
		}
	}
}
.phoneContacts {

	.friendsList {
		.friendItem {
			overflow: hidden;
			padding: 17px 0;
			border-bottom: 1px solid #C7C7C7;
			.friend-avatar {
				float:left;
				height: 75px;
				width :75px;
				border-radius: 50%;
				border: none;
				margin-right: 25px;
				img {
					width: 100%;
				}
			}
			.add-to-friend{
				float: right;
				width: 40px;
				text-align:center;
				margin-top: 23px;
				i{
					font-size: 30px;
					color:#4990E2;
					&.red-color{
						color: red;
						font-size:20px;
					}
				}
			}
			.friend-info{
				margin-right: 40px;
				margin-left: 100px;
				float: none;
				h3 {
					font-size: 18px;
					font-weight: normal;
					color:#666666;
					line-height: 21px;
					margin-top: 11px;
					margin-bottom: 5px;

				}
				.friendPhone{
					font-size: 14px;
					color:#6D747F;
					margin-bottom: 0;
				}
			}
		}
	}
}
.new-contact {
	h2 {
		font-size:21px;
		font-weight: normal;
		text-transform : uppercase;
		text-align: center;
		color: #6D747F;
		margin: 20px 0 30px 0;
	}
	input[type="text"] {
			border-bottom: 1px solid #CBCBCB;
			height: 50px;
			width: 100%;
			&::placeholder {
				color:#BABFC8;
			}
		}
}
.category-contacts-list{
}
.contact-item {
	padding: 17px 25px;
	overflow: hidden;
	border-bottom: 1px solid #C7C7C7;
	.contact-item-img {
		width: 75px;
		height: 75px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 25px;
		float:left;
		img{
			width: 100%;
		}
	}
	.contact-info{
				margin-right: 40px;
				margin-left: 100px;
				float: none;
				h3 {
					font-size: 18px;
					font-weight: normal;
					color:#666666;
					line-height: 21px;
					margin-top: 11px;
					margin-bottom: 5px;

				}
				.contactPhone{
					font-size: 14px;
					color:#6D747F;
					margin-bottom: 0;
				}
			}
}
.contact-page {
	.img-block{
		height: 30vh;
		width: 100%;
		img{
			width: 100%;
		}
	}
	.info-block {
		padding: 31px 25px 0 25px;
		h3{
			color: #3498DB;
			font-size: 26px;
			text-align: center;
		}
		.contact-spec {
			font-size: 14px;
			line-height: 17px;
			color: #6E747F;
			text-align: center
		}
		.addToContact {
			height: 44px;
			width: 185px;
			border: 2px solid #3498DB;
			border-radius: 4px;
			display: block;
			margin: 0 auto;
			text-align: center;
			line-height: 40px;
			font-size: 16px;
			color: #3498DB;
			margin-top: 28px;
			margin-bottom: 35px;
		}
	}


.tab-block{
	.tab-header {
		position: relative;
		top: 0;
		overflow:hidden;
		height: auto;
		border-top: 1px solid #A2A2A2;
		border-bottom: 1px solid #A2A2A2;
		.item-header{
			float: left;
			width: 50%;
			color: #A2A2A2;
			text-align: center;
			font-size: 14px;
			line-height: 50px;
			text-transform: uppercase;
			&.active {
				color:#3498DB;
			}
		}
	}
	.tab-pane {
			.field-row {
				padding : 8px 16px;
				overflow: hidden;
				
			}
			.field-title{
				float: left;
				color: #919191;
				font-size: 14px;
			}
			.user-field {
				float: right;
				color: #919191;
				font-size: 14px;
			}
			.comment-block{
				padding: 5px 25px;
				.comment-header{
					overflow: hidden;
				}
				.comment-autor-img{
					height: 35px;
					width: 35px;
					margin-right: 10px;
					border-radius: 50%;
					overflow:hidden;
					float: left;
					img {
						width: 100%;
					}
				}
				.comment-autor-name {
					float:left;
					line-height: 35px;
					color: #3498DB;
				}
				.comment-date{
					float:right;
					line-height: 35px;
					font-size:14px;
					color: #A2A2A2;
				}
			}
		}
}
}
.contact-block{
	padding: 3.75vw;
	.img-block{
		height: 30vh;
		width: 100%;
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	.title-block{
		text-align: center;
		margin-bottom: 3vw;
		h1 {
			margin-top: 2vw;
			color: #454553;
			font-size: 7vw;
			margin-bottom: 1.8vw;
			font-weight: normal;
		}
		.contact-spesalition {
			font-size: 3.7vw;
			color: #454553;
			font-weight: 300;
		}
	}
	.tab-block{
		overflow: hidden;
		margin-left: -3.75vw;
		margin-right: -3.75vw;
		.tab-header {
			overflow: hidden;
			height: 12.5vw;
			border-top: 1px solid #d5d5db;
			border-bottom: 1px solid #d5d5db;
			.tab-header-item {
				width: 50%;
				float: left;
				color: #c6c7cc;
				font-size: 3.7vw;
				text-transform: uppercase;
				line-height: 12.5vw;
				font-weight: 300;
				text-align: center;
				&.active {
					color: #484d50;
				}
			}
		}
		.tab-panel {
			padding: 5vw 3.75vw;
			.contact-inforamtion-list{
				overflow: hidden;
				dt {
					float: left;
					width: 38%;
					margin-right: 2%;
					color: #c6c7cc;
					margin-bottom: 4vw;
					line-height: 4.5vw;
					font-size: 3.5vw;
					font-weight: normal;

				}
				dd {
					float: left;
					width: 60%;
					color: #454553;
					font-size: 3.5vw;
					margin-bottom: 4vw;
					line-height: 4.5vw;
				}
			}
			.comments-header{
				overflow: hidden;
				margin-bottom: 3vw;
				.showHideAddCommentBlock{
					float: right;
					font-size: 3vw;
					color: #c6c7cc;
					font-weight: 300;
				}
				h4 {
					float:left;
					font-size: 3vw;
					margin: 0;
					font-weight: normal;
				}
			}
			.text-area{
				border: 1px solid #d5d5db;
				padding: 2vw;
				color: #484d50;
				width: 100%;
				height: 100px;
				resize: none;
				margin-bottom: 5vw;
			}
			.add-comment{
				width: 100%;
				padding: 3vw;
				font-size: 3.5vw;
				color: #fff;
				background: #49a0d5;
				display: inline-block;
				text-align: center;
				text-transform: uppercase
			}
			.comment-item{
				margin-bottom: 3vw;
				border-bottom: 1px solid #d5d5db;
				.comment-user{
					overflow: hidden;
					margin-bottom: 3vw;
					.image-user{
						width: 7.5vw;
						height: 7.5vw;
						overflow: hidden;
						border-radius: 50%;
						margin-right: 3vw;
						float: left;
						border: 1px solid #d5d5db;
						img {
							width: 100%;
						}
					}
					.comment-date{
						float: right;
						line-height: 7.5vw;
					}
					.comment-info{
						float: left;
						line-height: 7.5vw;
					}
				}
				.comment-text{
					color: #8c8c99;
					font-size: 3.5vw;
					line-height: 4vw;

				}
			}
		}
	}
	.btn-block{
		text-align: center;
		margin-bottom: 3vw;
		.btn-white{
			height: 9vw;
			padding: 2vw 4vw;
			border:1px solid #e24242;
			line-height: 5vw;
			border-radius: 3.5vw;
			font-size: 3.7vw;
			text-transform: uppercase;
			font-weight: 300;
			color: #e24242;
			display: inline-block;
		}
	}
}