body {
	font-family: 'Roboto', sans-serif;
}
.bar.bar-stable{
	height: 53px;
	background-color: #454553 !important;
	color: #fff;
	border:none;
}
 .bar.bar-stable .title {
 	color: #fff !important;
 }
 .bar .title {
	font-size: 18px;
	line-height: 53px;
	height: 53px;
	color: #fff;
	text-align: center;
	font-weight: normal;
}

.platform-android .bar .title {
	font-size: 18px;
	line-height: 53px;
	height: 53px;
	color: #fff;
	text-align: center;
	font-weight: normal;
}
.bar-stable .button.button-icon {
	color: #fff;
	line-height:  11vw;

} 
.has-header {
	top: 53px;
}
.bar-stable .button.button-clear{
	color: #fff;
}

.menu {
	background-color: #222c3c;
}
.list, .item.item-complex .item-content {
	background-color: #454553 !important;	color:#ffffff;
}
.menu .list{
	padding-top: 16px;
}
.item {
	border-width: 0px;
}

.menu.menu-left{
		background-color: #454553 !important;
}
.menu .bar.bar-stable {
	height: 150px;
	background-color: #454553;
	color:#ffffff;
	border-color: #313d4f
}
.menu .bar.bar-stable .title {
	color: #299df5;
	height: 149px;
}
.platform-android .menu .bar .title {
	font-size: 21px;
	line-height: 49px;
}
.menu .has-header {
	top: 150px;
}

.user-avatar {
	width: 100px;
	margin: 5px 88px 10px 88px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	background-color:  #fff;
}
.user-avatar img {
	width: 100%;
}
.user-name {
	text-align:center;
	color: #fff;
	font-size: 18px;
}
.no-news{
	margin-top: 40vh;
	color: #C7C7C7;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}
.serch-block {
	background-color: #454553;
	padding: 0 10px 10px 10px;
	// margin-top:51px;
	input {
		width: 100%;
		padding: 0 10px;
		line-height: 34px;
	}
}