<ion-view view-title="Профиль">
   <ion-content>
		<div class="inner-profile">
			<div  class="user-img">
				<img ng-src="{{baseUrl}}/{{$ctrl.user.img}}" alt="">
			</div>
			<div class="user-info-block">
				<p class="field-row">
					<span class="user-field">{{$ctrl.user.name}}</span>
					<span class="field-title">Имя</span>
				</p>
				<p class="field-row">
					<span class="user-field">{{$ctrl.user.email}}</span>
					<span class="field-title">Email</span>
				</p>
				<p class="field-row">
					<span class="user-field">{{$ctrl.user.phone}}</span>
					<span class="field-title">Телефон</span>
				</p>
				<span class="btn green-btn" ng-click="$ctrl.updateUser()"> Save </span>
				<span ng-click="$ctrl.change = false" class="btn">Cansel</span>
			</div>
			</div>
		</div>
	</ion-content>
</ion-view>