<ion-modal-view>
  <ion-content>
    <div class="login">

  	 <form ng-submit="doLogin()">
        <div class="logo-block">
          
        </div>
        <div class="list">
            <input type="text" ng-model="loginData.email" placeholder="Email">
            <input type="password" ng-model="loginData.password" placeholder="Password">
            <button class="login-btn" type="submit">Войти</button>
            <p class="create-user">Нет аккаунта? <span ui-sref="usercontacts">Создайте</span></p>
          </div>
        </label>
      </form>
      </div>
</ion-content>
</ion-modal-view>