<ion-modal-view>
  <ion-content>
    <div class="signup">
      <form ng-submit="signup()">
        <h2>Регистрация</h2>
        <input type="text" ng-model="newUser.email" placeholder="Email">
        <input type="text" ng-model="newUser.name" placeholder="Имя Фамилия">
        <input type="password" ng-model="newUser.password" placeholder="Password">
        <input type="password" ng-model="newUser.confirmepassword" placeholder="Confirme password">
        <button class="login-btn" type="submit">Log in</button>
         <p class="create-user">У меня есть аккаунт? <span ui-sref="login">Войти</span></p>
      </form>
    </div>
  </ion-content>
</ion-modal-view>