<ion-view view-title="Requests">
 	<ion-nav-buttons side="right">
	   <i class="icon ion-plus-round add-new-request" ng-click="$ctrl.showModal()"></i>
   	</ion-nav-buttons>
  <ion-content>
   <ion-tabs tabs-type="tabs-icon-only">
        <ion-tab title="My requests">
            <ion-content has-header="true">
            	<div class="list-requests">
	                <!-- <h2 class="request-list-title">Вы ищете:</h2> -->
					<div ng-repeat="req in $ctrl.requestsList" class="my-request">
						<h3 ui-sref="app.request({reqId: req._id})">{{req.text}}</h3>
						<span class="answers-request"><i class="icon ion-chatbox"></i> 0 ответов</span>
						<span class="date-request"><i class="icon ion-calendar"></i> {{req.requestDate | date}}</span>

					</div>
				</div>
            </ion-content>
        </ion-tab>

        <ion-tab title="Friend`s request">
            <ion-content has-header="true">
            	<div class="list-requests">
	                <div ng-repeat="req in $ctrl.friendsRequestsList" class="my-request">
						<h3 ui-sref="app.request({reqId: req._id})">{{req.text}}</h3>
						<div class="req-info">
							<div class="answers-request">
								<div class="req-user-img">
		                			<img ng-src="http://172.18.2.117:5000/{{req.userId.img}}">
		                		</div>
		                		<span>
		                			{{req.userId.name}}
								</span>
							</div>
						<span class="date-request"><i class="icon ion-calendar"></i> {{req.requestDate | date}}</span>
						</div>
						
						<!-- <span ng-click="$ctrl.deleteRequest(req._id)">delete</span>
						<span ng-click="$ctrl.change(req)">Редактировать</span> -->
					</div>
	                <!-- <div ng-repeat="req in $ctrl.friendsRequestsList" class="friends-request">
	                	<div class="req-user-info">
	                		<span class="btn green-btn req-add-answer" ui-sref="app.request({reqId: req._id})">Ответить</span>
	                		<div class="req-user-img">
	                			<img ng-src="http://172.18.2.117:5000/{{req.userId.img}}">
	                		</div>
	                		<div class="req-user-main-info">
	                			<p class="req-user-name">{{req.userId.name}}</p>
	                			<p>{{req.requestDate | date}}</p>
	                		</div>
	                	</div> 
	                						<p class="req-text">{{req.text}}</p>
	                					</div> -->
				</div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
 </ion-content>
</ion-view>

<!-- <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Отредактируйте ваш запрос</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <textarea class="text-area" ng-model="vm.request.text">{{vm.request.text}}</textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</script>
 -->