    <div class="modal-header">
        <h3 class="modal-title select-contatcts-title" id="modal-title">Виберіть спеціалістів</h3>
    </div>
    <div class="modal-body" id="modal-body">        
      <div >
     <!--  <uib-accordion>
          <div uib-accordion-group class="panel-default" heading='te' ng-repeat=" item in vm.contacts">
              <ul>
                  <li ng-repeat="p in  item ">
                      <input type="checkbox" ng-model="p.selected">
                      <p>{{p.name}}</p>
                  </li>
              </ul>
          </div>
      </uib-accordion> -->
        <div class="row justify-content-between mb-4" ng-repeat="item in $ctrl.allContatcts">
          <div class="col align-self-center">
          <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25 mb-0" >
            <input class="hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" ng-model="item.selected">
            <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
              <i class="fa" data-check-icon="&#xf00c"></i>
            </div>
           {{item.name}}
          </label>
        </div>
        <!--   <div ng-repeat="item in $ctrl.allContatcts" class="item-selected">
                <input type="checkbox" ng-model="item.selected">
                    <p>{{item.name}}<span class="item-selected-spec">{{item.spec}}</span></p>
        </div> -->
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.saveAnswer()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>

