<ion-view view-title="Професионалы">
  <ion-content>
  <div class="sub-header">
      <span class="btn green-btn add-new" ng-click="$ctrl.open()">Add Contact</span>
      <p class="counts">{{$ctrl.contactsList.length}} contacts</p>
  </div>
  <div class="inner-block">
    <ul class="contact-list">
    	<li ng-repeat="contact in $ctrl.contactsList" class="contact-card" ui-sref="app.contact({'id' : contact._id})" ng-if="!contact.verifyContact">
        <div class="header-card">
            <div class="image-block">
              <img src="public/images/vectorpaint.png">
            </div>
            <div class="card-title">
              <h5 class="contact-name">{{contact.name}}</h5>
              <p class="contact-spec">{{contact.spec}}</p>
            </div>
        </div>
        <p class="card-description">I am a highly-skilled software engineer and computer 
          science graduate with 25 years of professional experience. 
          Software development is my greatest skill and I have an 
          incredible attention to detail and perseverance in getting 
          the job done, and done well.</p>
        <div class="card-short-info">
          <div class="card-short-info-item">
            <h5>Rainting</h5>
             <p></p>
          </div>
          <div class="card-short-info-item">
             <h5>Rate</h5>
             <p>4$</p>
          </div>
          <div class="card-short-info-item">
             <h5>Location</h5>
             <p>Kiev</p>
          </div>
        </div>
        <div class="card-footer">
          <span class="btn btn-small red-btn delete-card">Delete</span>
        </div>
    	<!--   <div class="conatact-info">
        <p class="contact-phone" >{{contact.phone}}</p>
      </div> -->
    	</li>
    </ul>
  </ion-content>
</ion-view>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Add new contact</h3>
        </div>
        <div class="modal-body" id="modal-body">
          <div>
            <label class="modal-label" for="contactsName">Name</label>
            <input ng-model="vm.contact.name" placeholder="Contact's name" id="contactsName">
          </div>
           <div>
          <label class="modal-label" for="contactsPhone">Phone</label>
            <input ng-model="vm.contact.phone" placeholder="Contact's phone" id="contactsPhone">
          </div>  
           <div>
            <label class="modal-label" for="contactsName">Specification</label>
            <input ng-model="vm.contact.spec" placeholder="Contact's name" id="contactsSpec">
          </div>
          <div class="checkbox">
            <label class="radio-label">
              <input ng-model="vm.contact.hidden" type="checkbox">Hidden
            </label>
          </div>  
           
        </div>
        <div class="modal-footer">
            <button class="btn green-btn" type="button" ng-click="vm.ok()">Save</button>
        </div>
  </div>
