<ion-view view-title="Професионалы">
  <ion-content>
  <div class="sub-header">
      <span class="btn green-btn add-new" ng-click="$ctrl.open()">Add Contact</span>
      <p class="counts">{{$ctrl.contactsList.length}} contacts</p>
  </div>
  <div class="inner-block">
    <ul class="contact-list">
    	<li ng-repeat="contact in $ctrl.contactsList" class="contact-card" ui-sref="app.contact({'id' : contact._id})" ng-if="!contact.verifyContact">
        <div class="header-card">
            <div class="image-block">
              <img src="public/images/vectorpaint.png">
            </div>
            <div class="card-title">
              <h5 class="contact-name">{{contact.name}}</h5>
              <p class="contact-spec">{{contact.spec}}</p>
            </div>
        </div>
    	</li>
    </ul>
  </ion-content>
</ion-view>
