<ion-content>
	<div class="phoneContacts">
		<ul class="friendsList">
			<input type='text' ng-model="$ctrl.filterText.displayName" class="filter-input">
	  		<li class="friendItem" ng-repeat="friend in $ctrl.listPhoneContacts | filter: $ctrl.filterText">
	  			<div class="add-to-friend">
	  				<i class="icon ion-plus-round"  ng-click="$ctrl.selectToModal(friend) "></i>
	  			</div>
	  			<div class="friend-avatar">
				 	<img ng-src="{{baseUrl}}/{{friend.img}}">
			   	</div>
			   	<div class="friend-info">
				    <h3>{{friend.displayName }} </h3>
				    <p class="friendPhone">{{friend.phoneNumbers[0].value}}</p>
				</div>
	  		</li>
	  	</ul>
	</div>
</ion-content>