/* Empty. Add your own CSS if you like */

.menu {
	background-color: #222c3c;
}
.list, .item.item-complex .item-content {
	background-color: #222c3c;
	color:#ffffff;
}
.menu .list{
	padding-top: 16px;
}
.item {
	border-width: 0px;
}

.menu .bar.bar-stable {
	height: 150px;
	background-color: #222c3c;
	color:#ffffff;
	border-color: #313d4f
}
.menu .bar.bar-stable .title {
	color: #299df5;
	height: 149px;
}
.platform-android .menu .bar .title {
	font-size: 21px;
	line-height: 49px;
}
.menu .has-header {
	top: 150px;
}
.has-header {
	top: 70px;
}
.user-avatar {
	width: 100px;
	margin: 5px 88px 10px 88px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	background-color:  #fff;
}
.user-avatar img {
	width: 100%;
}
.user-name {
	text-align:center;
	color: #fff;
	font-size: 18px;
}
.bar.bar-stable .title {
	color:#354052;
}
.bar.bar-stable {
	height: 70px;
	background-color: #fff;
	border-style: none;
}
.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before{
	font-size: 55px;
	line-height: 55px;
	color:#bbbbbe;
	margin-left: 15px;
}
.platform-android .bar .back-button .icon:before{
	font-size: 35px;
	line-height: 55px;
	color:#bbbbbe;
	margin-left: 15px;
}
.bar.bar-stable .title {
	line-height: 70px;
	font-size: 27px;
	height:auto;
	font-weight: normal;
	display: inline-block;
	vertical-align: bottom;
	color: #1d1d26;
	text-align: center;
	margin-left: -60px;
}
.pane {
	background: #EFF3F6;
}
.friend-avatar {
	width: 75px;
	height: 75px;
	overflow: hidden;
	float:left;
	border-radius: 50%;
	margin-right: 20px;
	background-color:#fff;
	border: 4px solid #EFF3F6;
}
.friend-avatar img{
	width: 100%;

}
.friend-item{
	padding: 5px 15px 5px 15px;
	overflow: hidden;
	border-bottom: 1px solid #dfe2e5;
	margin: 10px 10px 0 10px;
	background-color:#fff;
}
.friend-info {
	float:left;
}
.friend-info h3 {
	line-height: 75px;
	font-size: 18px;
	margin-bottom: 0px;
}
.add-new-request {
	font-size: 40px;
	line-height: 55px;
	color:#bbbbbe;
	position: absolute;
	right: 20px;
}
/* .modal-wrapper {
	background: #fff;
	border: 1px solid #dfe2e5;
	top: 25%;
	position: absolute;
	width: 90%;
	left: 5%;
	padding: 20px;
	z-index: 10;
}
.modal-backdrop-bg {
	background: rgba(0,0,0,0.6)
} */
.btn {
	padding-left: 22px;
	padding-right: 22px;
	line-height: 36px;
	font-size: 18px;
	display: inline-block;
	background-color: #dbdbdb;
	border: 0;
	
}
.btn:hover{
	text-decoration: none;
}
.green-btn {
	background-color: #38B248;
	color: #fff;
	font-weight: 600;
	&:hover{
		color: #fff;
	}
}
.green-btn:hover{
	color: #fff;
}

.btn-small {
	padding-left: 12px;
	padding-right: 12px;
	line-height: 15px;
	display: inline-block;
	font-size: 12px;
}
.btn-small:hover{
	text-decoration: none;
}
.text-area {
	width: 100%;
	border: 1px solid #dfe2e5;
}
/****/
/*.my-list-requests  {

}*/
h2.request-list-title {
	font-size: 32px;
	line-height: 44px;
	font-family: Helvetica;
	font-weight: 400;
	/* margin: 10px 0 20px 0; */
}
.my-request {
	padding: 31px 37px 31px 37px;
	overflow: hidden;
	border-bottom: 1px solid #dfe2e5;
	/* margin: 10px  0 0 0; */
	background-color:#fff;
}
.my-request .date-request{
	color: rgba(29,29,38, 0.5);
	font-size: 19px;
	float:left;
	width: 50%;
}
.my-request .answers-request{
	color: rgba(29,29,38, 0.5);
	font-size: 19px;
	float:right;
	width: 50%;
}
.my-request h3, .friends-request h3 {
	font-size: 24px;
	line-height: 32px;
	font-weight: normal;
	color:#1d1d26;
	margin-bottom: 20px;
}
.friends-request {
	padding: 10px 15px 10px 15px;
	overflow: hidden;
	border-bottom: 1px solid #dfe2e5;
	margin: 10px  0 0 0;
	background-color:#fff;
}
.req-user-img{
	float: left;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	border: 4px solid #dfe2e5;
	margin-right: 10px;
}
.req-user-info {
	overflow: hidden;
}
.req-user-img img {
	width: 100%;
}

.req-user-main-info {
	float: left;
}
.req-user-name{
	font-size: 18px;
	font-weight: 600;
	margin: 5px 0 5px 0;
}
.req-text{ 
	margin-top: 15px;
	font-size: 16px;
 }
 .req-add-answer {
 	float: right;
 }
 .request-block {
 	padding: 20px 30px;
 	background: #fff;
 }
 .request-text {
 	font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    color: #1d1d26;
    margin-bottom: 20px;
    padding-bottom: 35px;
 }
.anser-btns .btn-small {
	float: left;
	margin-right: 20px;
}
.tab-item {
	max-width: 100%;
}
.tabs {
	height: 59px;
	padding-top: 0 !important;
}
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
	border-color: #50a3d2;
	background: #50a3d2;
	color:#fff;
	font-size: 21px;
	line-height: 58px;
}
.tabs-striped .tab-item {
	font-size: 22px;
	line-height: 58px;
}
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
margin-top: 0;
}
.req-info{
	height: 50px;
}
.req-info .date-request{
	line-height: 50px;
}
.req-info .answers-request{
	float: right;
}
.req-info span{
	float: left;
	line-height: 50px;
	color: #50a3d2;
}
.request-autor-info h4 {
	color: #50a3d2;
	font-size: 24px;
	margin-bottom: 10px;
}
.request-autor-info p {
	color: rgba(29,29,38, 0.5);
	font-size: 18px;
}
.request-block .req-user-img{
	width: 100px;
	height: 100px;
	margin-right: 20px;
}
.request-header{
	overflow: hidden;
}
.request-body{
	padding-top: 30px;
}
.request-body .add-contact{
	width: 100%;
	height: 50px;
	color:#fff;
	display: block;
	background-color: #50a3d2;
	text-align: center;
	font-size: 24px;
	line-height: 50px;
}
/*modal*/
.modal-backdrop {
	background: #fff;
}
.select-contatcts-title {
	padding: 30px;
}
.item-selected {
	padding: 20px 30px;
	font-size: 18px;
	overflow: hidden;
}
.item-selected input {
	float: left;
	margin-right: 20px;
}
.item-selected p{
	float:left;
	font-size: 18px;
}
.item-selected-spec {
	display: inline-block;
	margin-left: 20px;
	color: rgba(29,29,38, 0.5);
}
.modal-footer {
	padding: 20px 30px;
}
.modal-footer .btn{
	width: 48%;
	height: 50px;
	float: right;
}
.modal-footer .btn-primary {
	background-color: #50a3d2; 
	color: #fff;
	float: left;
}
.titleForContacs {
	float:left;
}
.edit-select-contacts {
	float:right;
}
.card-title .contact-name {
	font-size: 21px;
}
.card-title .contact-spec{
	font-size: 18px;
	color: rgba(29,29,38, 0.5);
}
